@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');

@keyframes scan-move {
  0% { top: 0; }
  100% { top: 100%; }
}
.animate-scan-move {
  position: absolute;
  animation: scan-move 3s linear infinite;
}

body {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  background-color: #F2F0EA;
  margin: 0;
  padding: 0;
}

.grain-overlay {
  pointer-events: none;
  position: fixed;
  inset: 0;
  z-index: 99;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Grain_Noise.png");
  opacity: 0.03; /* 3% Digital Noise */
}

.text-masked-ocean {
  background-image: url('/assets/images/Mask-Quotes-Image.png');
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}